/* Mengimpor font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #c4ddf9 0%, #fff 56.72%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

nav {
    width: 100%;
    background: transparent;
    padding: 20px 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 10px 20px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li a {
    text-decoration: none;
    color: #274081;
    padding: 5px 20px;
    transition: background-color 0.3s ease;
    font-family: 'Istok Web', sans-serif;
    font-size: 1.1em;
}

header {
    padding-top: 200px;
    text-align: center;
}

header h1 {
    font-size: 2.7em;
    color: #274081;
}

header h2 {
    font-size: 4em;
    color: #4A89E7;
}

header p {
    font-size: 1.2em;
    color: #274081;
    font-family: 'Istok Web', sans-serif;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 80px;
    flex-wrap: wrap;
}

.social-icons a img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.profile-text h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.profile-text p {
    font-size: 1.2rem;
    color: #666;
}

.profile-image img {
    max-width: 80%;
    border-radius: 10px;
}

.projects {
    text-align: center;
    margin-top: 50px;
}

.projects h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.projects p {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 50px;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    text-align: left;
    transition: transform 0.3s;
    text-decoration: none;
    color: inherit;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.project-info {
    padding: 15px;
}

.project-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-info p {
    color: #333;
    margin: 5px 0;
}

.experience {
    padding: 50px 20px;
    text-align: center;
}

.experience h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.experience-card {
    background-color: #d7e7ff;
    border-radius: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #a9cbff;
    text-align: left;
}

.contact {
    padding: 50px 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

/* Responsivitas */
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header h1, header h2, header p {
        font-size: 1.5em;
        padding: 0 10px;
    }

    .social-icons {
        flex-direction: column;
        gap: 15px;
    }

    .social-icons a img {
        width: 60px;
        height: 60px;
    }

    .project-card {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .profile-content {
        flex-direction: column;
        align-items: center;
    }

    .experience-card {
        padding: 30px;
    }
}
